body{
  font-family:"tahoma";
}
img{
    width:190px;
    box-shadow: 5px 5px 5px black;
   
}
img:hover{
    width:200px;
    cursor: pointer;
}
div{
    background-color: #f5f5f5;
    padding:50px;
    text-align:center;
}
h1{
    font-size:28px;
}
h2{
    font-size: 24px;
}
h3{
    font-size:20px;
}
p{
    text-align: center;
    line-height: 28px;
    width:930px;
    margin:10px auto;
}
span{
    font-weight: bold;
}
a{
    background-color:green;
    font-weight:bold;
    font-size:14px;
    text-decoration:none;
    color:#ffffff;
    padding:6px;
    border-radius:10px;
    margin-top:10px;
    box-shadow: 3px 3px 3px black;
   
}
a:hover{
    text-transform: uppercase;
  background-color: greenyellow;
  color:grey;
   transition: 3s;
    
}
.borda1{
    border-top: 1px solid #d5d5d5;
}
.borda2{
    border-top: 1px solid #d5d5d5;
}
.borda3{
    border-top: 1px solid #d5d5d5;
}